In [1]:
import requests
import json
from pprint import pprint
import csv
import pandas as pd

In [2]:
title = []
director = []
year = []
location = []

In [3]:
url = "http://www.omdbapi.com/?t="
api_key = "&apikey=99f6b51d"

In [4]:
with open('zombie.csv', newline='', encoding = 'utf-8') as csvfile:

    csvreader = csv.reader(csvfile, delimiter = ',')

    csv_header = next(csvreader)

    for row in csvreader:
        response = requests.get(url + row[1] + api_key)

        response_json = response.json()

        try:
            title.append(response_json['Title'])
            director.append(response_json['Director'])
            year.append(response_json['Year'])
            location.append(response_json['Country'])
        except:
            pass

['N/A', 'N/A', '44900469', '28586503', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '42043633', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '3328', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '58885635', '58885635', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '423032628', '423032628', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '1332', 'N/A', 'N/A', '679335', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '28031250', 'N/A', 'N/A', '856849', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '10199354', 'N/A', 'N/A', 'N/A', 'N/A', '256399999', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '20433940', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '136397', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '55994557', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '241063875', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '8639097', 'N/A', 'N/A', 'N/A', '31691811', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '6921', '708', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '39532308', '60128566', '50600000', 'N/A', 'N/A', '50648679', '26844692', '42345531', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '38240768', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '3931256', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '13464388', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '7774730', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '1914', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '785405', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '2129768', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '68296', '16742', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '65000000', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '202351611', 'N/A', 'N/A', 'N/A', '14947', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '75590286', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A']

In [21]:
new_df = pd.DataFrame(list(zip(title, director, year, location)), columns = ["Title", "Director", "Year", "Country"])

In [22]:
new_df

,Title,Director,Year,Country
0,The 8th Plague,Franklin Guerrero Jr.,2006,USA
1,13 Eerie,Lowell Dean,2013,Canada
2,28 Days Later...,Danny Boyle,2002,"UK, Spain"
3,28 Weeks Later,Juan Carlos Fresnadillo,2007,"UK, Spain"
4,Abraham Lincoln vs. Zombies,Richard Schenkman,2012,USA
...,...,...,...,...
481,Zombiegeddon,Chris Watson,2003,USA
482,Zombieland,Ruben Fleischer,2009,"Hong Kong, China"
483,Zombieland: Double Tap,Ruben Fleischer,2019,Singapore
484,Zombies,Hamid Torabpour,2017,"Serbia, Italy, Spain"
485,Zombies,Hamid Torabpour,2017,USA

In [24]:
new_df.to_csv("cleaned_zombies.csv")