In [ ]:
%%writefile info.py
username = ""
password = ""

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from info import username, password

In [4]:
zombies_table = pd.read_html('https://en.wikipedia.org/wiki/List_of_zombie_films')
zombies_df = pd.DataFrame(zombies_table[0])

del zombies_df['Notes']
del zombies_df['References']


zombies_df.head()

                         Title                 Director  Year
0               The 8th Plague     Franklin Guerrero Jr  2006
1                     13 Eerie              Lowell Dean  2013
2                28 Days Later              Danny Boyle  2002
3               28 Weeks Later  Juan Carlos Fresnadillo  2007
4  Abraham Lincoln vs. Zombies        Richard Schenkman  2012

In [5]:
s = pd.Series

In [ ]:
zombies_df.to_csv("zombie.csv")